.maincontainer{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.hrline{
    border: 4px solid black;
}
.content{
    width: 55%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formdiv{
    width: 60%;
}
.imgdiv{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgpro{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    background-color: aqua;
}
.imgs{
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
}
.signinbtn{
    width: 120px;
    height: 40px;
    margin: 20px;
    background-color: rgb(37, 37, 246);
    color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 5px;
}